.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  display: flex;
  align-items: center;
}

.nav-button {
  margin: 0 3px;
}

a {
  text-decoration: none;
  color: inherit;
  height: 100%;
  width: 100%;
}

main {
  margin: 1vh auto;
  min-height: 80;
  width: 80%;
  padding: 1vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}