<section class="cards-container">

  <a aria-label="Botón para ver proyectos" routerLink="/compra-venta/proyectos">
    <mat-card class="card" matRipple>
      <mat-card-header mat-icon-button>
        <mat-icon>search</mat-icon>
        <mat-card-title>Compra</mat-card-title>
        <mat-card-subtitle>Encuentra el proyecto que buscas</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
      </mat-card-content>
    </mat-card>
  </a>

  <a aria-label="Botón para ver estadísticas" routerLink="/compra-venta/estadisticas">
    <mat-card class="card" matRipple>
      <mat-card-header mat-icon-button>
        <mat-icon>store</mat-icon>
        <mat-card-title>Venta</mat-card-title>
        <mat-card-subtitle>Encuentra todos los datos</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
      </mat-card-content>
    </mat-card>
  </a>

</section>